body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

/** Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fffdef;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  opacity: 1;
  transition: opacity 0.2s linear;
  animation: fadeInOut 2s ease-in-out forwards;

  &__content {
    position: relative;
    width: 375px;
    height: 140px;

    animation: reduceSize 0.5s ease forwards;

    &>* {
      position: absolute;

      &:nth-child(1) {
        top: 0;
        left: 0;

        i {
          animation: rotateTopIcon ease 0.5s forwards 0.5s;
        }

        animation: firstIcon ease 0.5s forwards 0.5s,
        mergeIcons ease 0.5s forwards 1s;
      }

      &:nth-child(2) {
        top: 0;
        left: 76px;
        margin-inline: 10px;

        i {
          animation: makeVisible 0.5s ease forwards, rotateTopIcon ease 0.5s forwards 0.5s;
        }

        animation: secondIcon ease 0.5s forwards 0.5s,
        mergeIcons ease 0.5s forwards 1s;
      }

      &:nth-child(3) {
        bottom: 0;
        right: 76px;
        margin-inline: 10px;

        i {
          animation: makeVisible 0.5s ease forwards, rotateBottomIcon ease 0.5s forwards 0.5s;
        }

        animation: thirdIcon ease 0.5s forwards 0.5s,
        mergeIcons ease 0.5s forwards 1s;
      }

      &:nth-child(4) {
        bottom: 0;
        right: 0;

        animation: fourthIcon ease 0.5s forwards 0.5s,
          mergeIcons ease 0.5s forwards 1s;
      }
    }

    p {
      text-transform: uppercase;
      font-weight: bold;
      color: #ff4e26;
      font-size: 24px;
      left: 50%;
      transform: translateX(-50%);
      top: 80px;
      opacity: 0;
      visibility: hidden;

      animation: slideUp ease 0.25s forwards 1.25s
    }
  }
}

.pill {
  font-size: 24px;
  text-transform: uppercase;
  color: #fffdfd;
  background-color: #ff4e26;
  text-align: center;
  border-radius: 50px;
  padding: 0 18px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  span {
    opacity: 1;
    visibility: visible;

    animation: fadeText 0.5s ease forwards;
  }

  i {
    opacity: 0;
    visibility: hidden;
    width: 0;
    font-size: 32px;
  }

  &--reverse {
    background-color: #fffdfd;
    color: #ff4e26;
  }
}

.icon {
  flex-shrink: 0;
  flex-grow: 0;
  color: #ff4e26;
  border: 1px solid #ff4e26;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;

  &--reverse {
    background-color: #ff4e26;
    color: #fffdfd
  }

  i {
    font-size: 32px;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeText {
  to {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
}

@keyframes makeVisible {
  to {
    opacity: 1;
    visibility: visible;
    width: initial;
  }
}

@keyframes reduceSize {
  to {
    width: 290px;
  }
}

@keyframes rotateTopIcon {
  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateBottomIcon {
  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes firstIcon {
  to {
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes secondIcon {
  to {
    top: 50%;
    transform: translateY(-50%);
    margin-inline: 0;
  }
}

@keyframes thirdIcon {
  to {
    top: 50%;
    transform: translateY(-50%);
    margin-inline: 0;
  }
}

@keyframes fourthIcon {
  to {
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes mergeIcons {
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes slideUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    top: 50px
  }
}

/** Scrolling */
.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer and Microsoft Edge */
  -ms-overflow-style: none;

  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

/** Header */
header {
  z-index: 10;
  background-color: transparent;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  opacity: 1;
  top: 0;

  animation: dropFade 1s ease-in-out forwards;

  &__label {
    color: #010001;
    border: 1px solid #010001;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 14px;
  }

  &__btn {
    border: 1px solid #010001;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  position: relative;
  opacity: 1;
  top: 0;

  animation: dropFade 1s ease-in-out forwards;

  &__login {
    color: #010001;
    border: 1px solid #010001;
    border-radius: 25px;
    padding: 5px 15px;
  }

  &__signup {
    color: #fffdfd;
    border: 1px solid #ff4e26;
    background-color: #ff4e26;
    border-radius: 25px;
    padding: 5px 15px;
  }

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  overflow: hidden;

  .icon {
    width: 32px;
    height: 32px;
    opacity: 0;

    animation: growCircle 0.75s ease-in-out forwards;

    i {
      font-size: 16px;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 14px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    width: 0;
    position: relative;
    left: -100px;

    animation: slideRight 0.5s ease-in-out forwards 0.75s;
  }
}

@keyframes dropFade {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes growCircle {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  100% {
    width: 32px;
    height: 32px;
    opacity: 1;
  }
}

@keyframes slideRight {

  0% {
    width: 0;
    opacity: 0;
    visibility: hidden;
    left: -100px;
  }

  100% {
    width: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}